<footer>
  <hr>
  <small>
    <nav>
        <a href="/about">О ресторане</a>
        <a href="/...">Условия доставки</a>
        <a href="/...">Возврат товара</a>
        <a href="/...">Акции</a>
    </nav>
  </small>
</footer>
