<link rel="stylesheet" href="/css/header.css">
<header>
  <div>

    <nav role="navigation">
      <div id="menuNav" />
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        {{#unless login}}
        <li><a href="/user/signup">Зарегистрироваться</a></li>
        <li><a href="/user/signin">Войти</a></li>
        {{/unless}}

        {{#if login}}
        <li><a href="/">Главная</a></li>
        <li><a href="/order">Сделать заказ</a></li>
        <li><a href="/user/logout">Выйти</a></li>
        {{/if}}
    </nav>
    <img class="logo" src="/assets/logo.png" width=100px height=100px>
  </div>

  <div class="searchContainer">
    <input type="text" name="text" class="textInInput" placeholder="Введите адрес доставки">
    <img class="loupe" src="/assets/loupe.svg">
  </div>

  <div class="phone">
    Контакты<br>
    +79234889135
  </div>

  <div>
    <button class="basket"><a href="/basket">
    <span class="textBasket">Корзина</span>
    </a>
    </button>
  </div>
</header>
