<header>
  <form>
    <input type="text" name="text" class="textInInput" placeholder"искать">
    <input type="submit" name="submit" class="submit" value="Search">
    <button class="button"><span>Искать</span>
    </button>
  </form>
  <div class="phone"></div>
  <button class="button"><span>Корзина</span>
  </button>
  Добро пожаловать!
  <hr />
</header>
