<link rel="stylesheet" href="/css/basket.css">
<div class="basketTitle">
  Корзина
</div>
<div class="orderCard">
{{#each itemsToOrder}}
  <div class="item">
    <div class="container">
      <div>
        <img class="imageOfSnack" src="/assets/menu.png" alt="">
      </div>

      <div class="ingredients">
        <span class="titleOfSnack">Ягнёнок</span>
        <span class="dicription">помидор, сыр фета, масло подсолнечное, капуста пекинская, перец сладкий красный,
          огурцы,
          оливки без косточек</span>
      </div>
    </div>

    <div class="quantity">
      <div class="circle minus">
        <img src="/assets/minus.png" alt="" class="round" />
      </div>
      <input disabled class="counter" type="text" name="name" value="1">
      <div class="circle plus">
        <img src="/assets/plus.png" alt="" class="round" />
      </div>
    </div>

    <div class="total">
      <span class="price">259
        <span class="price">₽</span>
      </span>
      <div class="circle">

        <img src="/assets/x.png" alt="" class="round" />
      </div>

    </div>
  </div>
  {{/each}}
  {{!-- <div class="item">
    <div class="container">
      <div>
        <img class="imageOfSnack" src="/assets/menu.png" alt="">
      </div>

      <div class="ingredients">
        <span class="titleOfSnack">Ягнёнок</span>
        <span class="dicription">помидор, сыр фета, масло подсолнечное, капуста пекинская, перец сладкий красный,
          огурцы,
          оливки без косточек</span>
      </div>
    </div>

    <div class="quantity">
      <div class="circle minus">
        <img src="/assets/minus.png" alt="" class="round" />
      </div>
      <input disabled class="counter" type="text" name="name" value="1">
      <div class="circle plus">
        <img src="/assets/plus.png" alt="" class="round" />
      </div>
    </div>

    <div class="total">
      <span class="price">259
        <span class="price">₽</span>
      </span>
      <div class="circle">

        <img src="/assets/x.png" alt="" class="round" />
      </div>

    </div>
  </div>
</div> --}}


<div class="addToOrder">
  <div class="addToOrderTitle">
    Добавить к заказу
  </div>
</div>

<div class="orderTotal">
  <div class="finalOrder">
    <span class="finalOrderTitle">Итого</span>
    <span class="freeOrder">До бесплатной доставки не хватает: 100Р</span>
    <span class="minSum">Минимальная сумма заказа: 1500Р</span>
  </div>
  <button class="basket"><a href="#"></a><span>Оформить заказ</span>
  </button>
</div>

<script src="/js/basket.js"></script>
