<nav class="navigation">
  <div class="navMenu">
    <ul class="menu">
      <li class="cokdSnack">
        <a class="cold-snack" data-active="false" data-type="primary">Холодные закуски</a>
      </li>

       <li class="hotSnack">
        <a class="hot-snack" data-active="false" data-type="primary">Горячие закуски</a>
      </li>

       <li class="meatDishes">
        <a class="meat-dishes" data-active="false" data-type="primary">Мясные блюда</a>
      </li>

       <li class="soupMenu">
        <a class="soup" data-active="false" data-type="primary">Супы</a>
      </li>

       <li class="fishDishes">
        <a class="fish-dishes" data-active="false" data-type="primary">Рыбные блюда</a>
      </li>

       <li class="grillMenu">
        <a class="grill-menu" data-active="false" data-type="primary">Гриль меню</a>
      </li>

       <li class="specialDishes">
        <a class="special" data-active="false" data-type="primary">Фирменные блюда</a>
      </li>

       <li class="drinkMenu">
        <a class="drink" data-active="false" data-type="primary">Напитки</a>
      </li>
    </ul>
  </div>
</nav>
