<link rel="stylesheet" href="/css/nav.css">
<nav class="navMenu">
  <div class="navigation">
    <ul class="menu">
      <li class="cokdSnack">
        <a href="#part1" class="cold-snack" data-active="false" data-type="primary">Холодные закуски</a>
      </li>

       <li class="hotSnack">
        <a href="#part2" class="hot-snack" data-active="false" data-type="primary">Горячие закуски</a>
      </li>

       <li class="meatDishes">
        <a href="#part3" class="meat-dishes" data-active="false" data-type="primary">Мясные блюда</a>
      </li>

       <li class="soupMenu">
        <a href="#part4" class="soup" data-active="false" data-type="primary">Супы</a>
      </li>

       <li class="fishDishes">
        <a href="#part5" class="fish-dishes" data-active="false" data-type="primary">Рыбные блюда</a>
      </li>

       <li class="grillMenu">
        <a href="#part6" class="grill-menu" data-active="false" data-type="primary">Гриль меню</a>
      </li>

       <li class="specialDishes">
        <a href="#part7" class="special" data-active="false" data-type="primary">Фирменные блюда</a>
      </li>

       <li class="drinkMenu">
        <a href="#part8" class="drink" data-active="false" data-type="primary">Напитки</a>
      </li>
    </ul>
  </div>
</nav>




Нужно будет вставить в верстке, там где будут блоки с этими разделами, по нажатию на раздел сверху будет искать id и переходить на этот блок


<article id="part1">Холодные закуски</article>
<article id="part2">Горячие закуски</article>
<article id="part3">Мясные блюда</article>
<article id="part4">Супы</article>
<article id="part5">Рыбные блюда</article>
<article id="part6">Гриль меню</article>
<article id="part7">Фирменные блюда</article>
<article id="part8">Напитки</article>

!
