<div class="product_card">
  <div class="product">
    <div>
      <div class="product">
        <ul>
          <a href="http://"></a>
        </ul>
        <ul>
          <li>{{this.title}}</li>
          <li>this.ingredients</li>
          <li>Вес: this.weight</li>
          <li class="basket">
            <button>Корзина</button>
            <p>this.price</p>
          </li>
          <li>
            <div>
              <ul>
                <li>Белки</li>
                <li>this.proteins</li>
              </ul>
              <ul>
                <li>Жиры</li>
                <li>this.fats</li>
              </ul>
              <ul>
                <li>Углеводы</li>
                <li>this.carbs</li>
              </ul>
              <ul>
                <li>Ккал</li>
                <li>this.calories</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
