<nav class="navMenu">
  <div class="navigation">
    <ul class="menu">
      {{#each categories}}
          <a href="#part{{this.id}}" data-active="false" data-type="primary">{{this.title}}</a>
      {{/each}}
    </ul>
  </div>
</nav>

{{#each categories}}
  <article id="part{{this.id}}">
    <h3>
      {{this.title}}
    </h3> 
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex inventore impedit blanditiis laboriosam! Ipsum at quas culpa quo, 
        voluptates aspernatur optio non repudiandae blanditiis possimus a harum cupiditate, aliquid et.
      </p>

       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex inventore impedit blanditiis laboriosam! Ipsum at quas culpa quo, 
        voluptates aspernatur optio non repudiandae blanditiis possimus a harum cupiditate, aliquid et.
      </p>

       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex inventore impedit blanditiis laboriosam! Ipsum at quas culpa quo, 
        voluptates aspernatur optio non repudiandae blanditiis possimus a harum cupiditate, aliquid et.
      </p>

       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex inventore impedit blanditiis laboriosam! Ipsum at quas culpa quo, 
        voluptates aspernatur optio non repudiandae blanditiis possimus a harum cupiditate, aliquid et.
      </p>

       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex inventore impedit blanditiis laboriosam! Ipsum at quas culpa quo, 
        voluptates aspernatur optio non repudiandae blanditiis possimus a harum cupiditate, aliquid et.
      </p>

       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex inventore impedit blanditiis laboriosam! Ipsum at quas culpa quo, 
        voluptates aspernatur optio non repudiandae blanditiis possimus a harum cupiditate, aliquid et.
      </p>
  </article>
{{/each}}
