<div class="container signup">
    <div class="row signup">
        <div class="signup">
            <!-- Form -->
            <form class="signupForm" action="" method="post">
                <div class="username">
                    <input id="username-input" type="text" name="name" class="form-control" placeholder="name..." required>
                </div>
                   <div class="phone">
                    <input id="phone-input" type="text" name="phone" class="form-control" placeholder="phone..." required>
                </div>
                <div class="email">
                    <input id="email-input" type="text" name="email" class="form-control" placeholder="email..." required>
                </div>
                <div class="password">
                    <input id="password-input" type="text" name="password" class="form-control"
                           placeholder="password..." required>
                </div>
                <div class="submit">
                    <button type="submit" class="btn">Регистрация</button>
                </div>
            </form>
            <!-- Form end -->
        </div>
    </div>
</div>
