{{!-- Авторизация  --}}


<div class="container signin">
    <div class="row signin">
        <div class="signin ">
            <!-- Form -->
            <form class="signinForm" action="" method="post">
                <div class="email">
                    <input id="email-input" type="email" name="email" class="form-control email" id="email" placeholder="email...">
                </div>
                <div class="password">
                    <input id="password-input" type="password" name="password" class="form-control password" id="password"
                           placeholder="password...">
                </div>
                <div class="submit">
                    <button type="submit" class="btn">Войти</button>
                </div>
            </form>
            <!-- Form end -->
        </div>
    </div>
</div>
