body, main {
  background: linear-gradient(to left, #211F20 20%, #44403F 80%);
  display: flex;
  flex-direction: column;
  min-height: 3747px;
  width: 1440px;
}

.mainImage {
  position: relative;
  z-index: 0;
}

.mainImg {
  left: 347px;
  position: relative;
}

.mainImgCnt {
  z-index: 1;
  position: absolute;
  width: 812px;
  height: 485px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
}

.imgText {
  position: absolute;
  z-index: 2;
  padding: 65px;
}

.content-container {
  background-color: #44403F;
  color: white;
}

.coldSnacks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.coldSnacks .js-meal {
  margin: 10px;
  height: 385px;
  width: 325px;
  text-align: center;
  background-color: #504B4A;
  box-shadow: 0px 0px 6px 2px #292525;
  border-radius: 10px;
}

.hotSnacks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.hotSnacks .js-meal {
  margin: 10px;
  height: 385px;
  width: 325px;
  text-align: center;
  background-color: #504B4A;
  box-shadow: 0px 0px 6px 2px #292525;
  border-radius: 10px;
}

.soups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.soups .js-meal {
  margin: 10px;
  height: 385px;
  width: 325px;
  text-align: center;
  background-color: #504B4A;
  box-shadow: 0px 0px 6px 2px #292525;
  border-radius: 10px;
}

.meatMeals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.meatMeals .js-meal {
  margin: 10px;
  height: 385px;
  width: 325px;
  text-align: center;
  background-color: #504B4A;
  box-shadow: 0px 0px 6px 2px #292525;
  border-radius: 10px;
}

.fishMeals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.fishMeals .js-meal {
  margin: 10px;
  height: 385px;
  width: 325px;
  text-align: center;
  background-color: #504B4A;
  box-shadow: 0px 0px 6px 2px #292525;
  border-radius: 10px;
}

.bbqMeals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.bbqMeals .js-meal {
  margin: 10px;
  height: 385px;
  width: 325px;
  text-align: center;
  background-color: #504B4A;
  box-shadow: 0px 0px 6px 2px #292525;
  border-radius: 10px;
}

.specialMeals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.specialMeals .js-meal {
  margin: 10px;
  height: 385px;
  width: 325px;
  text-align: center;
  background-color: #504B4A;
  box-shadow: 0px 0px 6px 2px #292525;
  border-radius: 10px;
}

.drinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.drinks .js-meal {
  margin: 10px;
  height: 385px;
  width: 325px;
  text-align: center;
  background-color: #504B4A;
  box-shadow: 0px 0px 6px 2px #292525;
  border-radius: 10px;
}

/* ============== */
.container img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.container li {
  list-style-type: none;
}

.product {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.params {
  display: flex;
}

.basketAndPrice {
  display: flex;
}

.btn {
  margin: 10px;
}

.product-content {
  position: relative;
  height: 400px;
}

.product li {
  list-style-type: none;
}

.product {
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  color: aliceblue;
  height: 80%;
  width: 60%;
}

ul {
  padding-right: 20px;
}

.params {
  margin-top: 30px;
}

.params ul {
  padding-left: 0px;
  padding-right: 50px;
}

.li {
  display: flex;
  justify-content: center;
  color: aliceblue;

}

.li-title {
  font-size: 40px;
  list-style-type: none;
}

.li-title::before {
  color: rgb(34, 214, 27);
  content: "|   ";
}

.other-img {
  display: flex;
  justify-content: center;
  padding: 1%;
}

.other-img img {
  height: 220px;
  width: 220px;
  margin: 0.5%;
}

.product ul img {
  height: 100%;
  width: 300px;
}

/* .map {
  height: 600px;nav24 19-38-03.png')
background-image: inherit;
} */

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

article {
  font-size: 32px;
  color: #FFFFFF;
  font-style: bold;
  text-transform: uppercase;
  margin: 30px 0;
}

.imageBottom {
  width: 1363px;
  height: 610px;
  position: relative;
      padding: 40px;
}

.imgBottom {
  left: 347px;
  position: relative;
  width: 1012px;
  height: 610px;
}

.mainImgCntBottom {
  z-index: 1;
  position: absolute;
  width: 812px;
  height: 611px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
}

.imgTextBottom {
  position: absolute;
  z-index: 2;
  margin-left: 65px;
  margin-top: 197px;
}
