body, main {
  background: linear-gradient(to left, #211F20 20%, #44403F 80%);
}

.logo {
  margin-left: 125px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #44403F 30%, #211F20 70%);
  box-shadow: 0px 30px 60px rgba(34, 31, 32, 0.2);
  border-bottom: 1px solid #696969;
}

input {
  background: #504B4A;
  border-radius: 10px;
}

.textInInput {
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  width: 400px;
  line-height: 20px;
  color: #CFCFCF;
  height: 40px;
}

.searchContainer {
  position: relative;
}

.loupe {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 12px;
}

.phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  color: #CFCFCF;
}

.button {
  background: linear-gradient(to right, #618967, #72A479);
  border-radius: 10px;
  height: 30px;
  width: 70px;
}

.basket {
  background: linear-gradient(to right, #618967, #72A479);
  border-radius: 10px;
  height: 40px;
  width: 70px;
  right: 30px;
}

footer {
  border-top: 1px solid #696969;
  position: absolute;
  text-align: center;
  width: 100%;
  background: linear-gradient(to right, #44403F 30%, #211F20 70%);
  height: 80px;
  margin-top: -80px;
}

nav a {
  font-size: 20px;
  color: #DCDCDC;
}


#menuNav {
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuNav a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuNav input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuNav span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuNav span:first-child {
  transform-origin: 0% 0%;
}

#menuNav span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuNav input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuNav input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuNav input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  opacity: 0.8;
  width: 185px;
  margin: -81px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuNav input:checked~ul {
  transform: none;
}

.orderCard {
  display: flex;
  flex-direction: column;
  width: 1096px;
  height: 450px;
  margin: 80px auto;
  background: #504B4A;
  box-shadow: 0px 0px 6px 2px #FFFFFF50;
  border-radius: 10px;
  transform-style: preserve-3d;
}

.basketTitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 30px;
  height: 60px;
  padding: 20px 30px;
  font-weight: 400;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  height: 120px;
  border-bottom: 1px solid #696969;
}

.item:nth-child(3) {
  border-top: 1px solid #E1E8EE;
  border-bottom: 1px solid #E1E8EE;
}

.imageOfSnack {
  height: 80px;
  width: 80px;
}

.titleOfSnack {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 18px;
}

.dicription {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #A6A7AB;
  font-size: 12px;
}

.ingredients {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.container {
  display: flex;
  justify-content: center;

}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 300;
}


.circle {
  align-items: center;
  background-color: #72A479;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
}


button:focus,
input:focus {
  outline: 0;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 120px;
  align-items: center;
}

.price {
  font-size: 23px;
  color: #FFFFFF;
  font-weight: 300;
}

.addToOrder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 750px;
  height: 200px;
  margin: 100px auto;
  background: #504B4A;
  box-shadow: 0px 0px 6px 2px #FFFFFF50;
  border-radius: 10px;
  transform-style: preserve-3d;
}

.addToOrderTitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 30px;
  height: 60px;
  padding: 20px 30px;
  font-weight: 400;
}

.orderTotal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  height: 100px;
  margin: 100px auto;
  background: #504B4A;
  box-shadow: 0px 0px 6px 2px #FFFFFF50;
  border-radius: 10px;
  transform-style: preserve-3d;
}







































































































































































































































